<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Stock exchange</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>

<div th:switch="${users.size()}" class="container my-5" style="margin-top: 1rem !important;">
  <div class="row">
    <div class="col-md-12">
      <h2 th:case="0">No users in database!</h2>
      <div th:case="*">
        <h2 class="my-5">Users</h2>
        <table class="table table-striped table-responsive-md">
          <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Username</th>
            <th>Wallet</th>
            <th>Offers</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.money}"></td>
            <td><a th:href="@{'/user/buyoffers?id=' + ${user.id} }">Buy offers</a> | <a th:href="@{'/user/selloffers?id=' + ${user.id} }">Sell offers</a></td>
          </tr>
          </tbody>
        </table>
        <footer style="font-size: large" class="panel-footer">
          Total Items [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages}]]
          &nbsp; &nbsp; - &nbsp;
          <span th:each="i: ${#numbers.sequence(1, totalPages)}">
          <a th:href="@{'/index?size=' + ${currentSize} + '&page=' + ${i}}">[[${i}]]</a>
          &nbsp; &nbsp;
          </span>
        </footer>
      </div>
    </div>
  </div>
</div>

</body>
</html>